@{
    ViewData["Title"] = "Сайт ресторана";
}

<div class="header-down">

    <div class="header-title">
        Добро пожаловать в

        <div class="header-subtitle">
            Наш ресторан
        </div>

        <div class="header-suptitle">
            ДОМ ЛУЧШЕЙ ЕДЫ
        </div>

        <div class="header-bth">
            <a asp-area="" asp-controller="Products" asp-action="UserIndex" class="header-button">Заказать что-то вкусненькое</a>
        </div>

    </div>

</div>

<div class="cards">

    <div class="container">

        <div class="cards-holder">

            <div class="card">

                <div class="card-image">
                    <img class="card-image" src="~/css/card.png">
                </div>

                <div class="card-title">
                    Магическая  <span>Атмосфера</span>
                </div>

                <div class="card-desc">
                    В нашем заведении царит магическая атмосфера, наполненная вкусными ароматами
                </div>

            </div>

            <div class="card">

                <div class="card-image">
                    <img class="card-image" src="~/css/card.png">
                </div>

                <div class="card-title">
                    Лучшее качество  <span>Еды</span>
                </div>

                <div class="card-desc">
                    Качество нашей еды - отменное!
                </div>

            </div>

            <div class="card">

                <div class="card-image">
                    <img class="card-image" src="~/css/card.png">
                </div>

                <div class="card-title">
                    Недорогая  <span>Еда</span>
                </div>

                <div class="card-desc">
                    Стоимость нашей еды зависит только от её количества. Качество всегда на высоте!
                </div>

            </div>
        </div>
    </div>

</div>



<div class='history'>

    <div class='container'>

        <div class='history-holder'>
            <div class='history-info'>
                <div class='history-title'>
                    Наша <span>История</span>
                </div>

                <div class='history-desc'>
                    Как и у любого другого самобытного места, у нас есть своя, особая история. Идея ресторана пришла основателям неожиданно. Во время прогулки по лесу создатель нашего ресторана застрял в сотнях километров от ближайшего населенного пункта. Вдали от цивилизации и связи им пришлось навремя обустровать себе нехитрый быт, добывать и готовить себе еду.
                </div>


                <div class='history-number'>
                    <div class='number-item'>
                        1257 <span>Доставок</span>
                    </div>

                    <div class='number-item'>
                        467 <span>Дней</span>
                    </div>

                    <div class='number-item'>
                        ∞ <span>Спасённых <br />желудков</span>
                    </div>
                </div>
            </div>

            <div class="history-images">
                <img class="imgages-1" src="~/css/1.jpg" alt="">
                <img class="imgages-2" src="~/css/2.jpg" alt="">
                <img class="imgages-3" src="~/css/3.jpg" alt="">
            </div>
        </div>

    </div>

</div>

<div class='black-block'>

    <div class='container'>

        <div class='block-holder'>
            <div class='left'>
                <div class='left-title'>
                    Порадуйте свои <br> вкусовые сосочки.
                </div>

                <div class='left-text'>
                    Только в этом месяце пепперони до 300 ₽
                </div>
            </div>

            <div class='right'>
                <div class='right-button'>
                    <a href='#' class='right-btn'>КУПИТЬ</a>
                </div>
            </div>
        </div>

    </div>

</div>