<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Сайт ресторана</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  
    <!--<link rel="stylesheet" href="~/DeliverySite.styles.css" asp-append-version="true" />-->

    <!---Гугл-шрифты------------------------------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <main>
    <!--    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DeliverySite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>-->


        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                        <img src="~/css/logo.png" alt="">
                </div>

                <div class="nav">
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="nav-item" asp-area="" asp-controller="Products" asp-action="Index">Редактировать</a>
                    }
                    else
                    {
                        <a class="nav-item" asp-area="" asp-controller="Products" asp-action="UserIndex">МЕНЮ</a>
                    }
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="About">О НАС</a>
                </div>

                <div class="cart">
                    <a asp-controller="Products" asp-action="ShopCart"> <img class="cart-img" src="~/css/cart.png" alt=""></a>
                </div>

                <div class="">
                    <partial name="_LoginPartial" />
                </div>
            </div>

            <div class="render-container">
                @RenderBody()
            </div>
        </div>


    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
