<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Сайт ресторана</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!---Гугл-шрифты------------------------------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <img src="~/css/logo.png" alt="">
                </div>

                <div class="nav">
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="nav-item" asp-area="" asp-controller="Products" asp-action="Index">РЕДАКТИРОВАТЬ</a>
                    }
                    else
                    {
                        <a class="nav-item" asp-area="" asp-controller="Products" asp-action="UserIndex">МЕНЮ</a>
                    }
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="About">О НАС</a>

                    @{
                        var request = Context.Request;
                        if (request.Cookies.ContainsKey("name"))
                        {
                            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="EasterEgg">Пасхалка</a>

                            if (request.Cookies["name"] == "admin")
                            {
                                <a class="nav-item" asp-area="" asp-controller="Home" asp-action="AddSession"></a>
                            }
                        }
                    }

                </div>

                <div class="cart">
                    <a asp-controller="Products" asp-action="ShopCart"> <img class="cart-img" src="~/css/cart.png" alt=""></a>
                </div>

                <div class="">
                    <partial name="_LoginPartial" />
                </div>
            </div>

            <div class="render-container">
                @RenderBody()
            </div>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
