@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение";
}


<div class="row justify-content-center">
    <div class="col-5 mt-5 product-list-table">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-10 my-4">
                    <h1>@ViewData["Title"]</h1>
                    @{
                        if (@Model.DisplayConfirmAccountLink)
                        {
                            <p>
                                <a class="nav-item confirm" id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите, чтобы подтвердить свою почту</a>
                            </p>
                        }
                        else
                        {
                            <p>
                                Please check your email to confirm your account.
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


